<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilos/checkbox.css">
    <link rel="stylesheet" href="estilos/responsive.css">
    <link rel="stylesheet" href="estilos/maqueta.css">
    <title>AVIATUR</title>
    <style>
    

    </style>
</head>
<body>
    <h1><img src="assets/images/logo-aviatur.svg" width="200" style="padding: 8px;"></h1>
    <div class="posicion">
        <p style="padding: 8px;"><font size="6" style="color: gray;">Filtros</font></p>
        <div class="caja-filtros">
 
    <button class="accordion"><img src="assets/icons/filters/search.svg" width="20" id="boton">&nbsp;&nbsp;&nbsp;<font size="4">Nombre del Hotel</font></button>
    <br><br><br><label class="icono"><img src="assets/icons/filters/bed-icon.svg" width="25"></label> <input type="text" id="formulario" placeholder="Hotel" class="estilobusqueda2"><br><br><br><br><br>
    <button class="accordion2"><p><img src="assets/icons/filters/star.svg" width="30">&nbsp;&nbsp;&nbsp;<font size="5">Estrellas</font></p></button><br><br>
    <label class="container"><input type="checkbox" value="Todaslasestrellas" checked="true" value="true" name="celcius" id="celcius"> Todas las estrellas</label><br>
    <label class="container"><input type="checkbox" value="${Hotel.stars}"/><img src="assets/icons/filters/Estrella_amarilla.png" width="20"><span class="checkmark"></span></label><br>
    <label class="container"><input type="checkbox" value="${Hotel.stars}"/><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><span class="checkmark"></span></label><br>
    <label class="container"><input type="checkbox" value="${Hotel.stars}"/><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><span class="checkmark"></span></label><br>
    <label class="container"><input type="checkbox" value="${Hotel.stars}"/><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><span class="checkmark"></span></label><br>
    <label class="container"><input type="checkbox" value="${Hotel.stars}"/><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><img src="assets/icons/filters/Estrella_amarilla.png" width="18"><span class="checkmark"></span></label>
</div></div>
    <div class="posicion-siguiente">
        <div class="box">
    <ul id="Hoteles">
    </ul>
    <script>var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
            var respuesta = JSON.parse(xhttp.responseText);
        // console.log(respuesta);
        var Hoteles = respuesta.Hoteles;
        var salida = '';
             

             for(var i = 0; i < Hoteles.length; i++){
              salida += `<div class="posicion-principal"><div class="posicion"><img src="assets/images/hotels/${Hoteles[i].image}" width="200"/></div><div class="posicion-izquierda">${Hoteles[i].name} <br> ${Hoteles[i].stars} <br> ${Hoteles[i].amenities} <br> <img src="assets/icons/amenities/bathrobes.svg" width="20"></div><div class="posicion-siguiente"> <center><p>Precio por noche por habitación </p></center><br><br><div class="precio"><center><p><font size="5" style="color: orange;">ARS &nbsp;</p><strong>${Hoteles[i].price}</strong></center></font></div><br> <center><a href="verhotel.html" style="background-color: blue; color: white; padding:8px; border: 1px solid; margin: 2px; text-decoration: none;">VER HOTEL</a> </center></div></div>`;
         
            }
          document.getElementById('Hoteles').innerHTML = salida;
            }  
         
        
          
        };
         xhttp.open("GET", "data.json", true);
        xhttp.send();</script></div></div>




</body>
</html>
