   /*Responsive . moviles*/
   @media screen and (max-width: 600px) {
    
 
   }
@media screen and (max-width: 600px) {
    h1{
        width:100%;
    }
    h1 img{
    background-color:#0665B3;
    width: 150px;
    margin-left: 110px;
    }
}

